*{
    padding: 0;
    margin: 0;
}
ul,ol,dl{
    list-style: none;
}
em,i{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
a{
    text-decoration: none;
}
img{
    border: none;
    vertical-align: top;
}
input{
    outline: none;
}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
.clearfix{zoom:1}
body,html{
    width: 100%;
    height: 100%;
    background: #effbff;
    /*overflow: hidden;*/
}
header{
    width: 100%;
    height: 5.8rem;
    background: #73bef7;
    border-bottom: 1px solid #3ea0e6;
    position: relative;
}
header a{
    color: #105287;
    font-size: 0.26rem;
    position: absolute;
    top: 0.23rem;
    text-decoration: underline;
}
header a:nth-of-type(1){
    left:0.2rem
}
header a:nth-of-type(2){
    right:0.2rem
}

header img{
    width: 4.5rem;
    height: 3.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.3rem;
    margin-left: -2.2rem;
}
header div{
    width: 2.38rem;
    height: 0.64rem;
    background: #ff8a63;
    color: #fff;
    position: absolute;
    border-radius: 0.3rem;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.64rem;
    bottom: 1.28rem;
    left: 50%;
    margin-left: -1.19rem;
}
header form{
    width: 5.1rem;
    height: 0.63rem;
    position: absolute;
    bottom: 0.38rem;
    left: 50%;
    margin-left: -2.5rem;
    border-radius: 0.3rem;
    background: #42a2e7;
    overflow: hidden;
    font-size: 0.3rem;
    color: #fff;
}
form input{
    width: 4.08rem;
    height: 100%;
    margin-right: 0.18rem;
}
.main{
    width: 100%;
}
.main>div{
    width: 100%;
    height: 1.61rem;
    background: #fff;
    border-bottom: 1px solid #e6e1e5;
    margin-top: 0.08rem;
}
.main>div>img{
    width: 0.99rem;
    height: 0.99rem;
    float: left;
    margin: 0.30rem 0.2rem 0.345rem 0.17rem;
}
.main .content{
    position: relative;
    width: 3.5rem;
    height: 0.74rem;
    float: left;
    margin-top: 0.5rem;
}
.content>a{
    font-size: 0.26rem;
}
.content>span,.content>p{
    font-size: 0.24rem;
    color: #c8c8c8;
}
.content>span{
margin-left: 0.5rem;
}
.content>i{
    height: 0.24rem;
    width: 0.01rem;
    background: #c8c8c8;
    position: absolute;
    left: 0.7rem;
    top: 0.04rem;
}
.main .float-right{
    position: relative;
    float: right;
    width: 1.25rem;
    height: 0.96rem;
    text-align: center;
    margin-top: 0.31rem;
    padding-right: 0.16rem;
}
.float-right>span,.float-right>a{
    display: block;
}
.float-right>span{
    color: #ff8a63;
    font-size: 0.24rem;
    margin-top: 0.05rem;
}
.float-right>a{
    width: 1.22rem;
    height: 0.44rem;
    background: #52aaef;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.44rem;
    position: absolute;
    bottom: 0;
}