body,html{
    width: 100%;
    height: 100%;
    background: #effbff;
   /* overflow: hidden;*/
}
header{
    width: 100%;
    height: 3rem;
    margin: 0 auto;
    position: relative;
}
header img:nth-of-type(1){
    width: 100%;
    height: 2.46rem;
}
header img:nth-of-type(2){
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.3rem;
    margin-left: -1.5rem;
}
footer{
    margin-top: 0.35rem;
    width: 100%;
}
footer form{
    width: 5.4rem;
    margin: 0 auto;
}
form label,form input{
    display: block;
}
form label{
    font-size: 0.3rem;
    color: #188ae4;
}
form input{
    width: 5.38rem;
    height: 0.56rem;
    border: 1px solid #97d4ff;
    margin: 0.12rem 0 0.44rem 0;
    border-radius: 0.1rem;
}
form .sex{
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
}
form .clear{
    display: inline-block;
    vertical-align: text-bottom;
    padding-bottom: 0.05rem;
}
form button{
    height: 0.74rem;
    width: 1.78rem;
    background: #52aaef;
    color: #ffffff;
    font-size: 0.33rem;
    display: block;
    border-radius: 0.3rem;
    border: none;
    margin: 0 auto;
    margin-bottom: 0.6rem;
}